*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.addtask{
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid rgb(27, 31, 35, 0.15);
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgb(27, 31, 35, 0.15);
    border-radius: 5px;
}

.addtask form{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.addtask label{
    font-size: 20px;
    margin-right: 5px;
}

.addtask input{
    font-size: 18px;
    padding: 7px;
    border: 1px solid #878787;
    border-radius: 5px;
    flex-grow: 1;
    margin: 10px;
}

.addtask input:focus{
    outline: none;
}

.addtask select{
    font-size: 18px;
    padding: 7px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
}

.addtask button{
    font-size: 18px;
    padding:  10px 15px;
    margin: 10px;
    background-color: green;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.addtask .reset{
    font-size: 18px;
    padding:  10px 15px;
    margin: 10px;
    background-color: rgb(176, 6, 6);
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}


.addtask p{
    text-align: center;
    font-size: 25px;
}