*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.taskBox{
    margin: auto;
    padding: 30px;
    width: 70%;
    border: 2px solid rgba(0, 0, 0, 0.092);
    
}

ul{
    list-style: none;
    line-height:2;
}

li{
    border: 2px solid black;
    margin: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 15px;
}

li button{
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    background-color: rgb(176, 0, 0);
    color: white;
    cursor: pointer;
}